@import '../../atoms/colors/colors';
@import '../../atoms/fonts/fonts';
@import '../../atoms/spacing/spacings';

.btn {
  font-weight: $fw-bold;
  font-size: $D-font-size-base-sm;
  line-height: $desktop-lh-base-sm;
  height: $spacing-lg;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  padding: 0px 24px;
  width: fit-content;
  margin-bottom: $spacing-sm;
  
  &-primary {
    background-color: $orange-base;
    color: $orange-dark;
    box-shadow: 0px 2px 0px #B36B01;
  }

  &-secundary {
    background-color: $blue-base;
    color: $neutral-1;
    box-shadow: 0px 2px 0px $core;
  }

  &-tertiary {
    background-color: $neutral-1;
    color: $blue-base;
    width: 278px !important;
    border: 1px solid $blue-base;
  }

  &-textLink {
    color: $blue-base;
    height: auto;
    align-items: center;
    justify-content: center;
    display: inline-block;
    border-radius: 0px;
    padding: 0px;
    margin-bottom: $spacing-md;
  }

  &:hover {
    cursor: pointer;
  }

  &.fixed_width {
    width: 280px;
    padding: 0px;
  }
}