// Green
$green-base: #019000;
$green-dark: #007300;
$green-light: #E6F4E6;

// Blue
$blue-base: #0E5C8C;
$blue-dark: #084B75;
$blue-light: #DFEEF7;
$blue-academy: #196EA3;

// Purple
$purple-base: #6843A3;
$purple-dark: #55338C;
$purple-light: #EAE1FA;

// Orange
$orange-base: #FF9901;
$orange-dark: #331F00;

// Neutral
$neutral-1: #FFFFFF;
$neutral-5: #F2F2F2;
$neutral-10: #E5E5E5;

// Line
$form-elements: #B2B2B2;
$separator: #DEDEDE;

// Text
$prominent: #1A1A1A;
$core: #333333;
$deemphasized: #757575;
$link: #0E5C8C;

// Campagnebalk
$campagne-background: #FFF0E0;
$campagne-text: #4D3926;

// Semantic
$error: #C91C18;

// Rating star
$rating-default: #FFD601;
$rating-line: #99720F;